:root {
  --background: #ffffff;

  --text-secondary: #7d7987;
  --text-heading: #1f1534;

  --blue: #458ff6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
      font-size: 93.75%;
  }
  @media (max-width: 720px) {
      font-size: 87.5%;
  }
}

body {
  background: #f8f8f8;
  font-family: "Mulish", sans-serif;
}

h1,
h2,
h3,
button {
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
}

h1 {
  color: var(--text-heading);
  font-size: 3rem;
  max-width: 427px;
}

.swiper-pagination-bullet {
  background-color: #458ff6 !important;
}

button {
  cursor: pointer;
}