.container {
    display: flex;
    margin-top: 2rem;
    
    .texts {
        margin-top: 2rem;
        
        p {
            margin-bottom: 3rem;
        }
    }
    
    img {
        margin-left: 6rem;
    }
    
}