.content {
  display: flex;
  align-items: center;
  margin-top: 5.25rem;
}

.mainHeading {
  margin: -4rem 6.30rem 0 0;

  p {
    margin-top: 1.51rem;
    color: var(--text-secondary);
    font-size: 1.31rem;
    max-width: 445px;
  }

  button {
    margin-top: 3rem;
  }
}
